*.map
*.hex
*.d
*.o
Videos
Tools
*.uvguix.*
*.pptx
*.yuml
*.scvd
*.one
*.onetoc2
# Ignore build dependencies
Sections/**/*.7z
Sections/*/Examples/*/MDK-ARM/*/
Sections/*/Examples/*/Drivers
Sections/*/Examples/*/Libs
